<div class="stripe" style="background-color:#<%= @team.primary_color %>;background-image:linear-gradient(to right,#<%= @team.primary_color %>,#<%= @team.secondary_color %> 100%);"></div>
<div class="stripe" style="background-color:#<%= @team.primary_color %>;background-image:linear-gradient(to right,#<%= @team.primary_color %>,#<%= @team.secondary_color %> 27%);"></div>
<div class="stripe" style="background-color:#<%= @team.primary_color %>;background-image:linear-gradient(to right,#<%= @team.primary_color %>,#<%= @team.secondary_color %> 100%);"></div>
<div class="team-img-frame" style="border-color:#<%= @team.secondary_color %>">
  <img class="show-title" src= <%= @team.wikipedia_wordmark_url%> alt= <%= @team.full_name %> />
</div>
<div class="line-break" style="background-color: #<%= @team.primary_color %>"></div>

<% if @team.id != 33 %>
  <div class="row team-details-container">
    <div class="columns small-6">
      <h5 class="team-details-title">Coaching Staff</h5>
      <ul class="team-details">
        <li>Head Coach: <%= @team.head_coach %></li>
        <li>Off. Coordinator: <%= @team.offensive_coordinator %></li>
        <li>Def. Coordinator: <%= @team.defensive_coordinator %></li>
        <li>Special Teams Coach: <%= @team.special_teams_coach %></li>
      </ul>
    </div>
    <div class="columns small-6">
      <h5 class="team-details-title">Stadium</h5>
      <ul class="team-details">
        <li><%= @team.stadium_name %></li>
        <li><%= @team.stadium_city %>, <%= @team.stadium_state %></li>
        <li>Capacity: <%= @team.stadium_capacity %></li>
        <li>Field Type: <%= @team.stadium_playing_surface %></li>
      </ul>
    </div>
  </div>
  <% if @current_user && @current_user.team_id == @team.id %>
    <span class="transaction-button-container">
      <form class="button-form1" action='/teams/free_agents' >
          <input type="submit" class="button transaction-button" value="Add a Player"/>
      </form>
      <form class="button-form2" action=<%= trades_path %> >
          <input type="submit" class="button transaction-button" v value="View Trades"/>
      </form>
    </span>
  <% end %>
  <div class="line-break" style="background-color: #<%= @team.primary_color %>"></div>

  <div class="show-body" style="background:#<%= @team.secondary_color %>;background-image:linear-gradient(90deg, #<%= @team.secondary_color %> 7%, rgba(255,255,255,1) 50%, #<%= @team.primary_color %> 93%)" >
    <div id='app' style="border-color:#<%=@team.primary_color%>"  class='react-div'></div>
  </div>

<% else %>
<ul>
  <% @players.each do |player| %>
  <div class="free-agent-slot">
    <% if current_user %>
    <%= button_to 'Add Player', player_add_path(player), method: :patch, class: "button transaction-button add-player-button" %>
    <% end %>
    <li class="player-details"> <%= link_to player.name, player %> - #<%= player.number  %> <%= player.position %> <% if player.nfl_team %><%= player.nfl_team %> <% else %> FA <% end %><% if player.bye_week %>- Bye Week: <%= player.bye_week %> <% end %></li>
  </div>
  <% end %>
<% end %>
