<div class="stripe" style="background-color:#<%= @team.primary_color %>;background-image:linear-gradient(to right,#<%= @team.primary_color %>,#<%= @team.secondary_color %> 100%);"></div>
<div class="stripe" style="background-color:#<%= @team.primary_color %>;background-image:linear-gradient(to right,#<%= @team.primary_color %>,#<%= @team.secondary_color %> 27%);"></div>
<div class="stripe" style="background-color:#<%= @team.primary_color %>;background-image:linear-gradient(to right,#<%= @team.primary_color %>,#<%= @team.secondary_color %> 100%);"></div>
<div class="team-img-frame" style="border-color:#<%= @team.secondary_color %>">
  <img class="show-title" src= <%= @team.wikipedia_wordmark_url%> alt= <%= @team.full_name %> />
</div>
<div class="line-break" style="background-color: #<%= @team.primary_color %>"></div>

<% if @team.id != 33 %>
<div class="row team-details-container">
  <div class="columns small-6">
    <h5 class="team-details-title">Coaching Staff</h5>
    <ul class="team-details">
      <li>Head Coach: <%= @team.head_coach %></li>
      <li>Off. Coordinator: <%= @team.offensive_coordinator %></li>
      <li>Def. Coordinator: <%= @team.defensive_coordinator %></li>
      <li>Special Teams Coach: <%= @team.special_teams_coach %></li>
    </ul>
  </div>
  <div class="columns small-6">
    <h5 class="team-details-title">Stadium</h5>
    <ul class="team-details">
      <li><%= @team.stadium_name %></li>
      <li><%= @team.stadium_city %>, <%= @team.stadium_state %></li>
      <li>Capacity: <%= @team.stadium_capacity %></li>
      <li>Field Type: <%= @team.stadium_playing_surface %></li>
    </ul>
  </div>
</div>
<div class="line-break" style="background-color: #<%= @team.primary_color %>"></div>

<div class="show-body" >
  <div id='app' style="border-color:#<%=@team.primary_color%>"  class='react-div'></div>
</div>

<% else %>
<h1 class="FA-title">Free Agents</h1>

<ul>
  <% @players.each do |player| %>
  <div class="free-agent-slot">
    <li> <%= player.position %> # <%= player.number  %> - <%= link_to player.name, player %> </li>
    <% if current_user %>
      <%= link_to "Add Player", player_add_path(player), method: :patch %>
    <% end %>
  </div>
  <% end %>
<% end %>
