<img class="show-title" src= <%= @team.wikipedia_wordmark_url%> alt= <%= @team.full_name %> />

  <ul>
    <% @players.each do |player| %>
      <li> <%= player.number %> - <%= player.position %> - <%= player.name %></li>
    <% end %>
  </ul>
