<div class="stripe1" style="background-color:<%= @current_team.primary_color %>;background-image:linear-gradient(to right,<%= @current_team.primary_color %>,<%= @current_team.secondary_color %> 100%);"></div>
<div class="stripe2" style="background-color:<%= @current_team.primary_color %>;background-image:linear-gradient(to right,<%= @current_team.primary_color %>,<%= @current_team.secondary_color %> 27%);"></div>
<div class="stripe3" style="background-color:<%= @current_team.primary_color %>;background-image:linear-gradient(to right,<%= @current_team.primary_color %>,<%= @current_team.secondary_color %> 100%);"></div>
<div class="team-img-frame" style="border-color:<%= @current_team.secondary_color %>">
  <%= link_to image_tag(@current_team.wordmark.url, :alt => @current_team.full_name, :title => @current_team.full_name, :class => "show-title"), @current_team %>
</div>
<div class="line-break" style="background-color:<%= @current_team.primary_color %>"></div>
<div id="header-spacer"> </div>


<div class="advanced-search">
  <%= search_form_for @q do |f| %>

  <%= f.label :first_name_cont, "First Name" %>
  <%= f.search_field :first_name_cont %>

  <%= f.label :last_name_cont, "Last Name" %>
  <%= f.search_field :last_name_cont %>

  <%= f.label :team_id_eq, "Current Team" %>
  <%= f.select :team_id_eq, options_from_collection_for_select(@teams, :id, :full_name), include_blank: true %>

  <%= f.label :nfl_team_eq, "NFL Team" %>
  <%= f.select :nfl_team_eq, options_from_collection_for_select(@draft_teams, :to_s, :to_s), include_blank: true %>

  <%= f.label :position_eq, "Position" %>
  <%= f.select :position_eq, options_from_collection_for_select(@positions, :to_s, :to_s), include_blank: true %>

  <%= f.label :college_draft_team_eq, "Drafted by" %>
  <%= f.select :college_draft_team_eq, options_from_collection_for_select(@draft_teams, :to_s, :to_s), include_blank: true %>

  <%= f.label :college_draft_year_eq, "Draft Year" %>
  <%= f.select :college_draft_year_eq, options_from_collection_for_select(@draft_years, :to_s, :to_s), include_blank: true %>

  <%= f.label :college_draft_round_eq, "Draft Round" %>
  <%= f.select :college_draft_round_eq, options_from_collection_for_select(@draft_rounds, :to_s, :to_s), include_blank: true %>

  <%= f.label :college_draft_pick_lteq, "Selected At This Pick or Later" %>
  <%= f.search_field :college_draft_pick_lteq %>

  <%= f.label :college_draft_pick_gteq, "Selected At This Pick or Earlier (latest drafted pick: 262)" %>
  <%= f.search_field :college_draft_pick_gteq %>

  <%= f.label :college_draft_team_eq, "Signed as an Undrafted Free Agent by" %>
  <%= f.select :college_draft_team_eq, options_from_collection_for_select(@udfa, :first, :last), include_blank: true %>



  <%= f.submit %>
<% end %>

</div>
