<img src= <%= @player.photo_url %> alt= <%= @player.name %>/>
<h2> <%= @player.name %> </h2>
<h4> <%= @player.position %> - <%= @player.number %> - <%= @player.team.full_name %></h4>
<h4> NFL Team: <%= @player.nfl_team %></h4>
