<div class="stripe1" style="background-color:<%= @current_team.primary_color %>;background-image:linear-gradient(to right,<%= @current_team.primary_color %>,<%= @current_team.secondary_color %> 100%);"></div>
<div class="stripe2" style="background-color:<%= @current_team.primary_color %>;background-image:linear-gradient(to right,<%= @current_team.primary_color %>,<%= @current_team.secondary_color %> 27%);"></div>
<div class="stripe3" style="background-color:<%= @current_team.primary_color %>;background-image:linear-gradient(to right,<%= @current_team.primary_color %>,<%= @current_team.secondary_color %> 100%);"></div>
<div class="team-img-frame" style="border-color:<%= @current_team.secondary_color %>">
  <%= link_to image_tag(@current_team.wordmark.url, :alt => @current_team.full_name, :title => @current_team.full_name, :class => "show-title"), @current_team %>
</div>
<div class="line-break" style="background-color:<%= @current_team.primary_color %>"></div>
<div id="header-spacer"> </div>

<% if @current_user  %>
  <span class="transaction-button-container">
    <form class="button-form1" action=<%=new_trade_path %>>
        <input type="submit" class="button transaction-button" value="Propose a New Trade"/>
    </form>
    <form class="button-form2" action="/teams/<%= current_user.team_id %>/trades/1" >
        <input type="submit" class="button transaction-button" v value="View My Pending Trades"/>
    </form>
  </span>
<% end %>

<div class="trade-container">
  <% if @trades.length == 0 %>
    <h3 class="search-error">No active trade offers.</h3>
  <% end %>
  <ul class="trade-list">
    <% @trades.each do |trade| %>
    <li class="trade-item">
      <div class="row trade-team">
        <div class= "columns small-6 image-container-trade">
          <%= link_to image_tag(trade.team1.logo.url, :alt => trade.team1.full_name, :title => trade.team1.full_name, :class => "trade-logo"), trade.team1 %>
        </div>
        <div class= "columns small-6">
          <ul class="asset-list">
            <% trade.team1_players.each do |player| %>
              <li> <%= link_to player.name, player %> - <%= player.position %> <%= player.nfl_team %></li>
            <% end %>
          </ul>
        </div>
      </div>
      <hr/>
      <div class="row trade-team">
        <div class= "columns small-6 image-container-trade">
            <%= link_to image_tag(trade.team2.logo.url, :alt => trade.team2.full_name, :title => trade.team2.full_name, :class => "trade-logo"), trade.team2 %>
        </div>
        <div class= "columns small-6">
          <ul class="asset-list">
            <% trade.team2_players.each do |player| %>
              <li> <%= link_to player.name, player %> - <%= player.position %> <%= player.nfl_team %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </li>
  <% end %>
  </ul>
</div>
