<div class="stripe" style="background-color:#<%= @current_team.primary_color %>;background-image:linear-gradient(to right,#<%= @current_team.primary_color %>,#<%= @current_team.secondary_color %> 100%);"></div>
<div class="stripe" style="background-color:#<%= @current_team.primary_color %>;background-image:linear-gradient(to right,#<%= @current_team.primary_color %>,#<%= @current_team.secondary_color %> 27%);"></div>
<div class="stripe" style="background-color:#<%= @current_team.primary_color %>;background-image:linear-gradient(to right,#<%= @current_team.primary_color %>,#<%= @current_team.secondary_color %> 100%);"></div>
<div class="team-img-frame" style="border-color:#<%= @current_team.secondary_color %>">
  <%= link_to image_tag(@current_team.wikipedia_wordmark_url, :alt => @current_team.full_name, :title => @current_team.full_name, :class => "show-title"), @current_team %>
</div>
<div class="line-break" style="background-color: #<%= @current_team.primary_color %>"></div>

<div id='app' class="trade-form"></div>
