<div class="stripe" style="background-color:#<%= @team.primary_color %>;background-image:linear-gradient(to right,#<%= @team.primary_color %>,#<%= @team.secondary_color %> 100%);"></div>
<div class="stripe" style="background-color:#<%= @team.primary_color %>;background-image:linear-gradient(to right,#<%= @team.primary_color %>,#<%= @team.secondary_color %> 27%);"></div>
<div class="stripe" style="background-color:#<%= @team.primary_color %>;background-image:linear-gradient(to right,#<%= @team.primary_color %>,#<%= @team.secondary_color %> 100%);"></div>
<div class="team-img-frame" style="border-color:#<%= @team.secondary_color %>">
  <img class="show-title" src= <%= @team.wikipedia_wordmark_url%> alt= <%= @team.full_name %> />
</div>
<div class="line-break" style="background-color: #<%= @team.primary_color %>"></div>

<div>
  <h3>Trades for Your Review</h3>
  <ul class="trade-list">
    <% @review_trades.each do |trade| %>
    <li class="trade-item">
      <div class="row trade-team">
        <div class= "columns small-6">
          <img class= "trade-logo" src= <%= trade.team1.wikipedia_logo_url %> alt= <%= trade.team1.full_name %>/>
        </div>
        <div class= "columns small-6">
          <ul class="asset-list">
            <% trade.team1_players.each do |player| %>
              <li> <%= link_to player.name, player %> - <%= player.position %> <%= player.nfl_team %></li>
            <% end %>
          </ul>
        </div>
      </div>
      <hr/>
      <div class="row trade-team">
        <div class= "columns small-6">
          <img class= "trade-logo" src= <%= trade.team2.wikipedia_logo_url %> alt= <%= trade.team1.full_name %>/>
        </div>
        <div class= "columns small-6">
          <ul class="asset-list">
            <% trade.team2_players.each do |player| %>
              <li> <%= link_to player.name, player %> - <%= player.position %> <%= player.nfl_team %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </li>
  <% end %>
  </ul>
</div>

<div>
  <h3>Your Pending Trade Offers</h3>
  <ul class="trade-list">
    <% @pending_trades.each do |trade| %>
    <li class="trade-item">
      <div class="row trade-team">
        <div class= "columns small-6">
          <img class= "trade-logo" src= <%= trade.team1.wikipedia_logo_url %> alt= <%= trade.team1.full_name %>/>
        </div>
        <div class= "columns small-6">
          <ul class="asset-list">
            <% trade.team1_players.each do |player| %>
              <li> <%= link_to player.name, player %> - <%= player.position %> <%= player.nfl_team %></li>
            <% end %>
          </ul>
        </div>
      </div>
      <hr/>
      <div class="row trade-team">
        <div class= "columns small-6">
          <img class= "trade-logo" src= <%= trade.team2.wikipedia_logo_url %> alt= <%= trade.team1.full_name %>/>
        </div>
        <div class= "columns small-6">
          <ul class="asset-list">
            <% trade.team2_players.each do |player| %>
              <li> <%= link_to player.name, player %> - <%= player.position %> <%= player.nfl_team %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </li>
  <% end %>
  </ul>
</div>
